@mixin set-spacing($x, $grid: "") {
  @if $grid !="" {
    $grid: -#{$grid};
  }

  $pre: "rem";

  @if $x ==0 {
    $pre: "";
  }

  $value: #{calc($x / 10)}#{$pre} !important;

  .mt#{$grid}-#{$x} {
    margin-top: $value;
  }

  .mr#{$grid}-#{$x} {
    margin-right: $value;
  }

  .mb#{$grid}-#{$x} {
    margin-bottom: $value;
  }

  .ml#{$grid}-#{$x} {
    margin-left: $value;
  }

  .mx#{$grid}-#{$x} {
    margin-left: $value;
    margin-right: $value;
  }

  .my#{$grid}-#{$x} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .m#{$grid}-#{$x} {
    margin: $value;
  }

  .pt#{$grid}-#{$x} {
    padding-top: $value;
  }

  .pr#{$grid}-#{$x} {
    padding-right: $value;
  }

  .pb#{$grid}-#{$x} {
    padding-bottom: $value;
  }

  .pl#{$grid}-#{$x} {
    padding-left: $value;
  }

  .px#{$grid}-#{$x} {
    padding-left: $value;
    padding-right: $value;
  }

  .py#{$grid}-#{$x} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .p#{$grid}-#{$x} {
    padding: $value;
  }
}

@mixin set-spacing-negative($x, $grid: "") {
  @if $grid !="" {
    $grid: -#{$grid};
  }

  $pre: "rem";
  $value: #{calc($x / 10)}#{$pre} !important;

  .mt#{$grid}-n#{$x} {
    margin-top: -$value;
  }

  .mr#{$grid}-n#{$x} {
    margin-right: -$value;
  }

  .mb#{$grid}-n#{$x} {
    margin-bottom: -$value;
  }

  .ml#{$grid}-n#{$x} {
    margin-left: -$value;
  }
}