$color-success: #15AE62;
$color-primary: #15AE62;
$color-danger: #FC2435;
$color-warning: #ffcc00;

$color-text: #00293A;
$color-grey: #798A9A;
$color-light-grey: #A0A4A8;
$color-support-grey: #F4F6FA;

// color text
$color-line: #E6EAEB;
$color-light: #798A9A;
$color-medium: #1A3E4E;
$color-regular: #4D6975;
$color-dark: #00293A;
$color-white: #ffffff;

$font-primary: "SVN-Poppins";