<template>
  <div class="spinner-wp">
    <div class="overlay"></div>
    <div class="wp">
      <img class="loading-gif" src="https://cdn.9pay.vn/website/loading.gif" alt="" />
      <div class="desc">9Pay đang tải...</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'LoadingComponent',
  };
</script>

<style lang="scss" scoped>
  .spinner-wp {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  .desc {
    font-size: 12px;
    color: #000;
    position: relative;
    text-align: center;
  }
  .loading-gif {
    position: relative;
    z-index: 1;
    max-width: 120px;
    border-radius: 25px;
  }
  .spinner {
    width: 10em;
    height: 10em;
    border-top: 1em solid #15ae62;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;
  }
  .head {
    width: 1em;
    height: 1em;
    background-color: #15ae62;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
  }
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
