*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: $font-primary, sans-serif;
  line-height: 1.5;
  // background-color: #F4F6FA;
  word-wrap: break-word;
  word-break: break-word;
  color: $color-text;
}

img {
  vertical-align: middle;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input, select, textarea {
  outline: none;
  border: 0;
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  font-size: 1.4rem;
  vertical-align: middle;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button,
a,
button:hover,
button:active,
button:focus {
  outline: none;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link:hover,
.link:active,
.link:focus {
  color: $color-success;
}