@font-face {
  font-family: 'SVN-Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.9pay.vn/style/fonts/SVN-Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SVN-Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.9pay.vn/style/fonts/SVN-Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SVN-Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.9pay.vn/style/fonts/SVN-Poppins-SemiBold.ttf') format('truetype');
}