// @use "sass:math";
// spacing
$spacing: 72,
  56,
  50,
  40,
  36,
  32,
  30,
  28,
  24,
  20,
  16,
  15,
  13,
  12,
  10,
  8,
  6,
  5,
  4,
  3,
  2,
  1,
  0;

@each $i in $spacing {
  @include set-spacing($i);

  @include set-spacing-negative($i);
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.m-auto {
  margin: auto;
}

// font
$fonts-size: 40,
  36,
  32,
  28,
  24,
  20,
  18,
  16,
  15,
  14,
  13,
  12,
  11,
  10;

@each $i in $fonts-size {
  .font-#{$i} {
    font-size: #{calc($i / 10)}rem;
    }
}

$fonts-weight: // 300,
  400,
  500,
  600,
  700,
  // 800,
  // 900,
;

@each $i in $fonts-weight {
  .font-#{$i} {
    font-weight: $i;
  }
}

.font-italic {
  font-style: italic;
}

.text-transform {
  text-transform: uppercase
}

// text style
$text: center,
  left,
  right,
  justify;

@each $i in $text {
  .text-#{$i} {
    text-align: $i;
  }
}

// border
$border: 1,
  2,
  3;

@each $i in $border {
  .border-t-#{$i} {
    border-top: #{calc($i / 10)}rem solid #E6E8E9;
  }

  .border-r-#{$i} {
    border-right: #{calc($i / 10)}rem solid #E6E8E9;
  }

  .border-b-#{$i} {
    border-bottom: #{calc($i / 10)}rem solid #E6E8E9;
  }

  .border-l-#{$i} {
    border-left: #{calc($i / 10)}rem solid #E6E8E9;
  }

  .border-#{$i} {
    border: #{calc($i / 10)}rem solid #E6E8E9;
  }
}

// border
$opacity: 1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10;

@each $i in $opacity {
  .opacity-#{$i} {
    opacity: #{calc($i / 10)};
  }
}

// border-radius
$border-radius: 12,
  10,
  8;

@each $i in $border-radius {
  .radius-#{$i} {
    border-radius: #{calc($i / 10)}rem;
  }
}

.text-underline {
  text-decoration: underline;
}

// text-line
$text-line: 5,
  4,
  3,
  2,
  1;

@each $i in $text-line {
  .text-line-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// color
.color-success {
  color: $color-success;
}

.color-primary {
  color: $color-primary;
}

.color-danger {
  color: $color-danger;
}

.color-link {
  color: $color-primary;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.color-line {
  color: $color-line;
}

.color-light {
  color: $color-light;
}

.color-medium {
  color: $color-medium;
}

.color-regular {
  color: $color-regular;
}

.color-dark {
  color: $color-dark;
}

.color-white {
  color: $color-white;
}

// background color

.bg-support-gray {
  background-color: $color-support-grey;
}

.bg-success {
  background-color: $color-success !important;
}

.bg-white {
  background-color: $color-white !important;
}

// line height
$line-height: 44,
  40,
  36,
  32,
  28,
  24,
  20,
  18,
  16,
  15,
  14,
  13,
  12,
  11,
  10;

@each $i in $line-height {
  .line-#{$i} {
    line-height: #{calc($i / 10)}rem;
  }
}

// flex
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-items {

  &-start {
    align-items: flex-start;
  }

  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }
}

.justify-content {

  &-start {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}

.cursor-pointer {
  cursor: pointer;
}

// Fit
$object-fit: cover,
  contain,
  revert,
  none;

@each $i in $object-fit {
  .object-fit-#{$i} {
    object-fit: $i;
  }
}

// Overflow
$overflow: hidden,
;

@each $i in $overflow {
  .overflow-#{$i} {
    overflow: $i;
  }
}