<template>
  <lottie-animation ref="anim" :animationData="BannerCongThanhToanVi" :loop="true" :autoPlay="true" />
</template>
<script>
import BANNER_CONG_THANH_TOAN_VI from '~/assets/json/dien-thoai.json';
import LottieAnimation from 'lottie-web-vue';
export default {
  components: { LottieAnimation },
  computed: {
    BannerCongThanhToanVi() {
      return BANNER_CONG_THANH_TOAN_VI;
    },
  },
};
</script>
