<template>
  <lottie-animation ref="anim" :animationData="BannerCongThanhToanEn" :loop="true" :autoPlay="true" />
</template>
<script>
import BANNER_CONG_THANH_TOAN_EN from '~/assets/json/dien-thoai-en.json';
import LottieAnimation from 'lottie-web-vue';
export default {
  components: { LottieAnimation },
  computed: {
    BannerCongThanhToanEn() {
      return BANNER_CONG_THANH_TOAN_EN;
    },
  },
};
</script>
