@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.n-btn {
  border-radius: .8rem;
  background-color: $color-primary;
  height: 3.6rem;
  border: 0;
  color: #fff;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: .2em;

  &.--inline {
    width: auto;
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  &.--disabled {
    background-color: #e1e1e1;
    pointer-events: none;
  }
}

.btn-more {
  width: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 10px;
  background: var(--clr);
  border-radius: 32px;
  padding: 0 14px 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-white;
    transform: scaleX(0);
    border-radius: 16px;
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    box-shadow: 0px 3.80916px 11.4275px rgb(148 184 147 / 22%);
  }

  span {
    display: inline-block;
    z-index: 2;
    margin-top: 4px;
    transition: 0.5s ease-in-out;
    color: $color-white;
  }

  @media (min-width: $md) {
    i {
      position: relative;
      display: inline-block;
      width: 0px;
      height: 20px;
      margin-top: 1px;
      background: $color-white;
      transition: 0.5s, width 0.5s, height 0.5s;
      transition-delay: 0s, 0.25s, 0.5s;
      &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        width: 45%;
        height: 1px;
        background: transparent;
        rotate: 0;
        transform-origin: right;
        transition: 0.65s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        width: 45%;
        height: 1px;
        background: transparent;
        rotate: 0;
        transform-origin: right;
        transition: 0.65s;
      }
    }
    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      span {
        color: var(--clr);
      }
      i {
        width: 20px;
        height: 1px;
        background: var(--clr);
        transition-delay: 0s, 0.5s, 0.25s;
        &::before {
          background: var(--clr);
          rotate: 45deg;
          transition-delay: 1s;
        }
        &::after {
          background: var(--clr);
          rotate: -45deg;
          transition-delay: 1s;
        }
      }
    }
  }

  @media (max-width: $md) {
    width: max-content;
    height: 32px;
    span {
      font-size: 1.3rem;
      margin-top: 2px;
    }
    i {
      position: relative;
      display: inline-block;
      width: 13px;
      height: 1px;
      background: $color-white;

      &::before {
        content: '';
        position: absolute;
        background: $color-white;
        rotate: 45deg;
        top: 0px;
        right: 0;
        width: 45%;
        height: 1px;
        transform-origin: right;
        transition: 0.65s;
      }

      &::after {
        content: '';
        position: absolute;
        background: $color-white;
        rotate: -45deg;
        top: 0px;
        right: 0;
        width: 45%;
        height: 1px;
        transform-origin: right;
        transition: 0.65s;
      }
    }
  }
}