.form {
  &-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    .wp-input {
      position: relative;
    }

    .wp-input.active {
      .placeholder {
        font-size: 11px;
        transform: translateY(8px);
        color: #a0a4a8;
      }

      input:focus,
      input:-webkit-autofill,
      textarea:focus,
      textarea:focus-within,
      textarea:focus-visible,
      textarea:active,
      textarea:target,
      textarea:visited {
        background: #FFFFFF !important;
        background-color: #FFFFFF !important;
        -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
      }
    }

    .placeholder {
      font-size: 14px;
      color: #00293A;
      transition: all .3s ease;
      pointer-events: none;
      position: absolute;
      transform: translateY(18px);
      left: 16px;
    }

    .icon-x {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-control {
    border: 1px solid #e6e8e9;
    border-radius: 8px;
    padding: 1.6rem 3.6rem 0.5rem 1.6rem;
    line-height: 2.4;
    font-weight: 400;
    font-size: 1.4rem;
    width: 100%;
    color: #00293A;

    &:focus {
      border: 1px solid #15AE62;
    }
    @media (max-width: $md) {
      line-height: 2;
    }
  }

  .required {
    border: 1px solid #FC2435;
  }
}