.loadding-page {
  height: 100%;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  z-index: 999;
  border-radius: 12px;
  .overlay {
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    bottom: 0;
  }
  .desc {
    font-size: 12px;
    color: #000;
    position: relative;
    text-align: center;
  }
  .loading-gif {
    position: relative;
    z-index: 1;
    max-width: 65px;
    border-radius: 25px;
  }
}