.section__banner {

  @for $i from 0 through 3 {
    @media (min-width: $md) {
      .--bg-home-image-#{$i} {
        background-image: var(--bg-home-image-#{$i});
      }
    }
    @media (max-width: $md) {
      .--bg-home-image-mobile-#{$i} {
        background-image: var(--bg-home-image-mobile-#{$i});
      }
    }
  }
}