<template>
  <div>
    <TheHeader :style="scY <= 40 ? {'margin-top': (0 - scY) + 'px'} : {'margin-top': '-40px'}"/>
    <Nuxt class="main-page" />
    <div id="backToTop" v-show="scY > 300" @click="toTop">
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="24" cy="24" r="23.5" fill="#00293A" fill-opacity="0.8" stroke="#F4F6FA" />
        <path d="M24 31.5L24 16.5" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M16.5 23.25L24 15.75L31.5 23.25"
          stroke="white"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <TheFooter />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <Loading v-if="isLoading" />
  </div>
</template>

<script>
import TheHeader from '~/components/layouts/TheHeader.vue';
import TheFooter from '~/components/layouts/TheFooter.vue';

import { mapState } from 'vuex';

export default {
  name: 'DefaultLayout',
  data() {
    return {
      scTimer: 0,
      scY: 0,
    };
  },
  components: { TheHeader, TheFooter },
  async mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (this.scTimer) return;
      this.scTimer = setTimeout(() => {
        this.scY = window.scrollY;
        clearTimeout(this.scTimer);
        this.scTimer = 0;
      }, 100);
    },
    toTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    },
  },
  computed: {
    ...mapState(['isLoading']),
  },
};
</script>

<style lang="scss">
.main-page {
  margin-top: 109px;
}
@media (max-width: $md) {
  .main-page {
    margin-top: 53px;
  }
}
#backToTop {
  position: fixed;
  z-index: 9999;
  right: 28px;
  bottom: 28px;
  animation: leaves 1s ease-in-out;
}

@keyframes leaves {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 28px;
  }
}
</style>
