<template>
  <div>
    <div class="page-error">
      <div class="col-6">
        <h3 v-if="error.statusCode === 404" class="font-32 font-600 color-dark">
          Lỗi 404
          <br />
          <p class="font-16 color-dark font-400 my-20">
            Trang bạn đang tìm kiếm không tồn tại, mời bạn <br />
            vui lòng quay lại trang chủ
          </p>
        </h3>
        <h3 v-else>Có lỗi xảy ra, vui lòng thử lại sau</h3>
        <NuxtLink to="/" class="btn-more" style="--clr: #15ae62"
          ><span class="font-600 line-20">Trở về trang chủ</span> <i></i
        ></NuxtLink>
      </div>
      <div class="col-6">
        <img src="https://storage.googleapis.com/npay/404-1672813342.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'error',
  layout: 'empty', //OR layout:'default'
  props: {
    error: {
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped>
.page-error {
  height: calc(100vh - 533px);
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>