.header {
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  outline: 0;
  transition: all .1s ease;
  z-index: 1000;
  height: 108px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e8e9;
}
