<template>
  <div>
    <Test />
    <hr />
    <h1>
      {{ data }}
    </h1>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Test from '~/modules/home/Test.vue';

export default {
  components: { Test },
  async asyncData(context) {
    try {
      const { store } = context;
      await store.dispatch('categories/getCategoryNew');
      const listCateNew = store.state.categories.categoryNew;
      return { data: listCateNew };
    } catch (error) {
      console.log('🚀 ~ index.vue ~ 24 ~ error::>', error);
      return {};
    }
  },
  computed: {
    ...mapState('categories', ['categoryNew']),
  },
};
</script>

<style>
</style>
